:host ion-toolbar.contacts-ion-toolbar {
  --background: transparent;
  --border-width: 0;
}

ion-content.contacts-ion-content {
  --background: transparent;
}

ion-content.contacts-ion-content ion-header[collapse='condense'] {
  pointer-events: none;
}

ion-button.contacts-invite-btn {
  --border-color: #3b82f6;
  --color: #3b82f6;
}

:host-context(.ion-palette-dark) ion-button.contacts-invite-btn {
  --border-color: #38bdf8;
  --color: #38bdf8;
}
